body {
    background-image: url("../images/qbkls.png");
    background-repeat: repeat;
    margin: 0px;

}

header {
    width: 100%;
    margin-top: -10px;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}

#main-header {
    margin: auto;
    background-color: #fff;
    width: 100%;
    height: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    height: 80px;
    width: 300px;
    margin: auto;
    text-align: center;
    line-height: 80px;
    color: #fff;
    background-color: #4aaaa5;
    position: absolute;
    left: 5%;
}

ul {
    overflow: hidden;
    list-style-type: none;
    float: right;
    padding-top: 20px;
}

li {
    display: inline-block;
    width: 100px;
    text-align: center;
}

li a {
    font-family: Arial, Helvetica Neue, sans-serif;
    color: #777;
    font-size: 14px;
    text-decoration: none;
}

li a:hover {
    color: #4aaaa5;
}

#nav-bars {
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

h2 {
    top: 20px;
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    /* padding-top: 20px; */
}

hr {
    display: block;
    border-top: 2px solid #ccc;
    margin-left: 20px;
    margin-right: 20px;
}

.clearfix {
    overflow: auto;
}

.main-bio {
    display: block;
    float: left;
    top: 5%;
    left: 5%;
    background-color: #fff;
    width: 50%;
    margin-left: 5%;
    padding-bottom: 5%;
}

.contact {
    padding-left: 20px;
}

#bio-pic {
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
}

p {
    font-family: Arial, Helvetica Neue, sans-serif;
    color: #777;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    line-height: 30px;
}

.contact-form {
    float: left;
    margin-left: 5%;
    margin-top: 3%;
    background-color: #fff;
    width: 50%;
    padding-bottom: 20px;
    font-family: Arial, Helvetica Neue, sans-serif;
    color: #777;
    line-height: 30px;
}

#copyright {
    font-family: Arial, Helvetica Neue, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #fff;
    padding-top: 40px;
}

#footer {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0px;
    background-color:#666;
    border-top: 8px solid #4aaaa5;
}

input {
    border: 1 solid #ddd;
    width: 90%;
}

textarea {
    width: 90%;
    height: 150px;
    font-size: 16px;
    border-color: #ddd;
    margin-bottom: 5%;
    /* resize: none; */
}

.button {
    background-color: #4aaaa5;
    font-family: Arial, Helvetica Neue, sans-serif;
    border: none;
    color: white;
    width: 90px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.portfolio {
    box-sizing: border-box;
    background-color: #fff;
    width: 50%;
    height: 600px;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 8%;
    overflow: auto;
}

.row {
    box-sizing: border-box;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
    
    /* Create four equal columns that sits next to each other */
.column {
    box-sizing: border-box;
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}
    
.column img {
    margin-top: 12px;
    vertical-align: middle;
    padding-top: 5%;
}

.sd-box {
    position: relative;
}
/* Bonus CSS Animation */
.sd-box-text {
    font-family: Arial, Helvetica Neue, sans-serif;
    text-align: center;
    line-height: 40px;
    color: white;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 80%;
    left: 0;
    background-color: #4aaaa5;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

/* Bonus CSS Animation */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color: rgb(255, 0, 157);}
    25%  {background-color: rgb(255, 166, 0);}
    50%  {background-color: rgb(0, 140, 255);}
    100% {background-color: rgb(26, 128, 0);}
  }

.rpg-box {
    position: relative;
}

.rpg-box-text {
    font-family: Arial, Helvetica Neue, sans-serif;
    text-align: center;
    line-height: 40px;
    color: white;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 80%;
    right: 0px;
    background-color: #4aaaa5;
}

.tg-box {
    position: relative;
}

.tg-box-text {
    font-family: Arial, Helvetica Neue, sans-serif;
    text-align: center;
    line-height: 40px;
    color: white;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 80%;
    left: 0;
    background-color: #4aaaa5;
}

.riw-box {
    position: relative;
}

.riw-box-text {
    font-family: Arial, Helvetica Neue, sans-serif;
    text-align: center;
    line-height: 40px;
    color: white;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 80%;
    background-color: #4aaaa5;
}

.rps-box {
    position: relative;
}
  
  /* Standard syntax */
  @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

.rps-box-text {
    font-family: Arial, Helvetica Neue, sans-serif;
    text-align: center;
    line-height: 40px;
    color: white;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 80%;
    left: 0;
    background-color: #4aaaa5;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 20px;
}

@media screen and (max-width: 640px) {
    h1, #main-header {
        position: relative;
        width: 100%;
        height: 80px;
        margin-left: 0px;
        text-align: center;
        background-color: #4aaaa5;
    }
}
@media screen and (max-width: 640px) {
    ul {
        position: relative;
        width: 100%;
        margin: auto;
        height: 40px;
        text-align: center;
        background-color: white;
        border-bottom: 2px solid #ccc;
    }
}
@media screen and (max-width: 640px) {
    .main-bio, .contact-form, .portfolio {
        position: inherit;
        margin-top: 5%;
        width: 90%;
        overflow: auto;
        margin-left: 5%;
        padding-bottom: 5%;
        background-color: white;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 640px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

 @media screen and (max-width: 768px) {
    #main-header {
        width: 100%;
        margin: auto;
        text-align: center;
        background-color: white;
        border-bottom: 2px solid #ccc;
    }
}

/* @media screen and (max-width: 768px) {
    h1 {
        left: 5%;
    }
} */

@media screen and (max-width: 768px) {
    .main-bio {
        top: 15%;
        width: 90%;
        overflow: auto;
        padding-bottom: 5%;
        margin-left: 5%;
        background-color: white;
    }
}

@media screen and (max-width: 768px) {
    .portfolio, .contact-form {
        margin-top: 5%;
        width: 90%;
        overflow: auto;
        padding-bottom: 5%;
        margin-left: 5%;
        background-color: white;
    }
}

@media screen and (max-width: 980px) {
    .main-bio {
        /* width: 50%; */
        overflow: auto;
        top: 15%;
        left: 5%;
        bottom: 5%;
        background-color: #fff;
    }
}

@media screen and (min-width: 980px) {
    .portfolio, .contact-form, {
        width: 50%;
        overflow: auto;
        top: 15%;
        left: 5%;
        bottom: 5%;
        background-color: #fff;
    }
}
