body {
    font-family: 'Imprima', sans-serif;
}
.container {
    margin: 0px;
    width: 100%;
}
#homepage {
    background-image: url("../images/wabiSabi.png");
    background-position: left center;
    background-size: auto;
    text-align: center;
    height: 600px;
    width: 100%;
}
.overlay {
    background-color: #524e4e;opacity:.8;
}
.lead {
    color: white;
}
.card-text {
    text-align: left;
}
.card-title {
    text-align: left;
}
#portfolio {
    background-color: #333;
    vertical-align: bottom;
    color: white;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: left;
}
#footer {
    background-color: #333;
}
.card{
    border: none;
}
.MMB {
    margin-top: 260px;
}
h4 {
    color: white;
}
#about {
    background-color: #a1a09f;
}
#surfaceDesign {
    background-image: url("../images/geology2-01.png");
    background-repeat: repeat;
    text-align: left;
    height: 300px;
    width: 100%;
    color: white;
}
#contact {
    position: relative;
    color: white;
    text-align: left;
}
a:link {
    text-decoration: none; color: white;
}
a:visited {
    text-decoration: none; color: white;
}
a:hover {
    text-decoration: none; color: white;
}
a:active {
    text-decoration: none; color: white;
}
.card-link > a:link {
    text-decoration: none; color: black;
}
.card-link > a:visited {
    text-decoration: none; color: black;
}
.card-link > a:hover {
    text-decoration: none; color: black;
}
.card-link > a:active {
    text-decoration: none; color: black;
}


